body {
    background-color: #434ab3;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
}

main {
    background-color: #b3a024;
    width: 55vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /*  makes for a smooth transition, with both happening at once */
    transition: width 2s ease-out .5s, transform 2s ease-out .5s;
}

.playing {
    width: 65vw;
    transform: translateX(-16vw);
}

#play-area {
    display: flex;
    flex-direction: column;
    width: 95%;
}

#play-area form {
    align-self: center;
}

#player-names {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.player-name {
    display: inline-flex;
}
