body {
    background-color: #434ab3;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
}

main {
    background-color: #b3a024;
    width: 55vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    /*  makes for a smooth transition, with both happening at once */
    transition: width 1s ease-out .5s, transform 1s ease-out .5s;
}

.playing {
    width: 65vw;
    transform: translateX(-16vw);
}

#play-area {
    display: flex;
    flex-direction: column;
    width: 95%;
}

#play-area form {
    align-self: center;
}

#player-names {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.player-name {
    display: inline-flex;
}

.game-choice {
    width: 100%;
    height: 10em;
    border: none;
    font-size: 1.6em;
}

#connect-game {
    display: grid;
    background-color: #1723c3;
}

.connect-slot {
    border-radius: 50%;
}

.win-banner {
    /* font-size: 2em; */
    text-shadow: #434ab3;
    position: absolute;
    opacity: 0;
    top: 120%;
    z-index: -1;
    transition: opacity 1s ease-in .5s, top 1.5s ease-out .5s, z-index .1s, font-size 2s ease-in-out .5s;
}

.won {
    opacity: 1;
    z-index: 2;
    top: 30%;
    font-size: 2.6em;
}
